@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"), url("./fonts/RobotoMono.ttf") format("truetype");
}

body {
  background-color: lightyellow;
  font-family: "RobotoMono", monospace;
  font-size: 1em;
}

h3 {
  font-weight: bold;
}

a#logo {
  max-width: 20%;
}

.form-inline {
  width: 80%;
}

#urlInput {
  width: 50%;
}

.alert {
  width: fit-content;
  max-height: 30%;
  margin: auto;
}

.timestamps {
  width: 22%;
  text-align: center;
}

.instructions {
  text-align: center;
  margin: 0% 10%;
}
