<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>YouFind</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'youfind/bootstrap.min.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'youfind/styles.css' %}"
    />
  </head>

  <body>
    <div class="col">
      <div class="row p-5">
        <h1 class="logo pr-5">YouFind</h1>

        <form
          class="form-inline mt-2 mt-md-0"
          method="POST"
          action="{% url 'home' %}"
        >
          {% csrf_token %}
          <input
            id="urlInput"
            class="form-control mr-sm-2"
            type="text"
            name="video_url"
            value="{{ video_embed_url }}"
            placeholder="Youtube URL"
          />
          <input
            id="keywordInput"
            class="form-control mr-sm-4"
            type="text"
            name="keyword"
            value="{{ keyword }}"
            placeholder="Keyword to search"
          />
          <button class="btn btn-info my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
      {% if keyword %}
      <div class="row pl-5">
        <iframe
          id="youtube-embed"
          width="1000"
          height="450"
          src="{{ video_embed_url }}"
          allow="autoplay"
        >
        </iframe>
      </div>
      {% endif %}
    </div>

    <div class="pl-4 pt-3 pr-5">
      {% for timestamp in timestamps %}
      <button class="timestampButton">{{ timestamp }}</button>
      {% endfor %}
    </div>

    <script
      src="{% static 'youfind/jquery.min.js' %}"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'youfind/bootstrap.min.js' %}"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(".timestampButton").click(function (event) {
        let timestamp = this.innerText;
        let splitTimestamp = timestamp.split(" : ");
        let minutes = parseInt(splitTimestamp[0]),
          seconds = parseInt(splitTimestamp[1]);
        let startTime = minutes * 60 + seconds;
        $("#youtube-embed").attr(
          "src",
          "https://www.youtube.com/embed/mYAahN1G8Y8?start=" + startTime
        );
      });
    </script>
  </body>
</html>
